.tech-icon{
  font-size: 4.5rem;
  color: var(--fg);
  text-decoration: none;
  padding: 10px 10px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proyect-card {
  height: 23rem;
}
