.banner-container{
  height: 50vh;
  display: flex;
  padding: 2.5rem;
  justify-content: center;
  flex-direction: column;
  background-color: var(--blue);
}
.title{
  margin-top: 0px;
  font-size: 4rem;
}
.subtitle{
  font-size: 2rem;
}
