.banner-container{
  height: 50vh;
  display: flex;
  padding: 2.5rem;
  justify-content: center;
  flex-direction: column;
  background-color: var(--blue);
}

.title{
  margin-top: 0px;
  font-size: 3rem;
}
.subtitle{
  font-size: 1.5rem;
}
